venv/
src/mediumish/__pycache__
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history
*.log
*.pot
*.pyc
__pycache__
src/db.sqlite3
media
src/articles/migrations/
