{% extends 'base.html' %}
{% load embed_video_tags %}

{% block content %}
    {% for o in obj%}
        <h1>{{ o.title }}</h1>
        <p>{{ o.content }}</p>
        <p>{{ o.author }}</p>
        <p>{{ o.date }}</p>

        {% if o.image %}
            <img src="{{ o.image.url }}" alt="connect">
        {% endif %}

        {% for vid in o.videos.all %}
            <div class='px-3 mb-5'>
                {% video vid.url '426x240'%}
            </div>
        {% endfor %}

        {% for tag in o.tags.all %}
            <p>{{ tag.name }}</p>
        {% endfor %}
    {% endfor %}
{% endblock %}