{% extends 'base.html' %}

{% block title %}
    Tags
{% endblock%}

{% block content %}
    {% if page.object_list %}
        <div class="d-flex flex-wrap justify-content-center">
            {% for tag in page.object_list %}
                <div class="card mb-3" style="width: 80%;">
                    <div class="card-body d-flex justify-content-around align-items-center" style="font-size: 30px">
                        {{ tag.name }}
                    </div>
                </div>
            {% endfor %}
        </div>

        <div class="row d-flex justify-content-around align-items-center mt-5">
            {% if page.has_previous %}
                <a href="?page={{ page.previous_page_number }}" class="btn btn-warning">Previous Page</a>
            {% else %}
                <a class="btn btn-secondary" disabled>Previous Page</a>
            {% endif %}

            <p class="mb-0">{{ page.number }}</p>

            {% if page.has_next %}
                <a href="?page={{ page.next_page_number }}" class="btn btn-warning">Next Page</a>
            {% else %}
                <a class="btn btn-secondary" disabled>Next Page</a>
            {% endif %}
        </div>
    {% else %}
        <div class="d-flex justify-content-center">No tags yet. :(</div>
    {% endif %}
{% endblock %}